.oobci-sidebar{
    width: 20rem;
    margin-top: 2rem;
}
.oobci-container{
    display: flex;
    justify-content: center;

}
.oobci-head{
    width: 230px;
    margin-left: auto;
    margin-right: auto;
}