/*
.galeryImg1{
    background-image: url(/src/assets/images/galery/kostel.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg2{
    background-image: url(/src/assets/images/galery/pano.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg3{
    background-image: url(/src/assets/images/galery/skola.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg4{
    background-image: url(/src/assets/images/galery/letadlo.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg5{
    background-image: url(/src/assets/images/galery/rytiri.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg6{
    background-image: url(/src/assets/images/galery/fotbalisti.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg7{
    background-image: url(/src/assets/images/galery/ples.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg8{
    background-image: url(/src/assets/images/galery/historie.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg9{
    background-image: url(/src/assets/images/galery/socha.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg10{
    background-image: url(/src/assets/images/galery/knihovna.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg11{
    background-image: url(/src/assets/images/galery/kresba.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg12{
    background-image: url(/src/assets/images/galery/urad.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg13{
    background-image: url(/src/assets/images/galery/vyhlidka.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}
.galeryImg14{
    background-image: url(/src/assets/images/galery/bludovenka.jpg);
    width: 300px;
    height: 200px;
    background-position: center;
    background-size: fill;
}*/