.thumbnail-container{
    display: flex;
    flex-direction: column;
    border: 1px solid blue;
    width: 50%;
}
.thumbnail-imgbox{
    background: url('https://www.bludov.cz/admin/photos/ModuleTurist/14/kostelecek3-624a7e5c7a1ee.jpg');
    border-radius: 8px; 
    height: 120px;
    width: auto;
    background-size: cover;
}
.thumbnail-container2{
    display: flex;
    flex-direction: row;
}
.thumbnail-name{
    
}
.thumbnail-button{

}
