.underline span {
  display: inline-block;
  font-family: 'Inter-Bold';

}

.underline span::after
{
  content: '';
  height: 7px;
  background: red;
  border-radius: 5px;
  display: block
}
.headingbox{
  padding: 3rem;
}
