.Bigresponzive{
    width: 100%;
    
    display: flex;
    background-image: url(/src/assets/images/BIG.png);
    background-size: 100%;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    
    
     
}
.Bighead{
   
display: flex;
font-family: Inter-Bold;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 24px;
color: white;
margin: 16%;
font-size: 300%;



}



